#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
